
.ui.inverted.segment{
    margin:0px;
    border-radius:0px;
}
.ui.styled.accordion{
    margin-bottom:2rem;
}
.ui.positive.message{
    display:block;
}
#succMsg{
    display:none;
}
#header{
    font-size: 4rem;
    font-family:Arial;
    margin-top:3rem;
}
#app{
    margin-top:5rem;
    margin-bottom:10rem;
    height:auto;
    
}
@media (min-height: 600px) and  (min-width: 900px){
 .ui.inverted.vertical.footer.segment{
    
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
    #dashboard{
        font-size:1.4rem;

    }
    #downloadReport{ 
        font-size:1.4rem;

    }
    #startScan{ 
        font-size:1.4rem;
;
    }   
    
}

@media (min-width: 900px) and (max-width: 1200px) {
    #dashboard{
        font-size:1.4rem;

    }
    #downloadReport{ 
        font-size:1.4rem;

    }
    #startScan{ 
        font-size:1.4rem;
    }   
    
   
}

@media (max-width: 900px) {
    #dashboard{
        font-size:1.3rem;
        width:100%;
        margin-bottom:0.5rem;
    }
    #downloadReport{ 
        font-size:1.3rem;
        width:100%;
        margin-bottom:0.5rem;
    }
    #startScan{ 
        font-size:1.3rem;
        width:100%;
        margin-bottom:0.5rem;
    }   
    
}